form {
    margin-bottom: 19%;
}

form input {
    
    width: 15vw;
    height: 5vh;
    border-radius: 8px;
    border: none;
}

form input:first-child {
    margin-right: 3vw;
}

form input::placeholder {
    text-align: center;
    font-size: 15px;
}

form button {
    margin-left: 2vw;
    width: 8vw;
    height: 5vh;
    cursor: pointer;
    background-color: #26A18D;
    border: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: white;
    min-width: 60px;
    transition: background 0.5s ease;
}

form button:hover {
    background-color: #8CDA7F;
}